<?xml version="1.0"?>
<!--
/**
 * Taxdoo_VAT
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Taxdoo
 * @package    Taxdoo_VAT
 * @copyright  Copyright (c) 2021 Andrea Lazzaretti.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event:etc/events.xsd">
   <event name="controller_action_postdispatch_adminhtml_system_config_save">
        <observer name="taxdoo_salestax_config_review" instance="Taxdoo\VAT\Observer\ConfigReview"/>
    </event>
    <event name="taxdoo_vat_backfill_transactions">
        <observer name="taxdoo_salestax_backfill_transactions" instance="Taxdoo\VAT\Observer\BackfillTransactions"/>
    </event>
    <event name="transaction_sync_failed">
        <observer name="notify_failed_sync" instance="Taxdoo\VAT\Observer\NotifyFailedSync"/>
    </event>
</config>
