<?php
/**
 * Taxdoo_VAT
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Taxdoo
 * @package    Taxdoo_VAT
 * @copyright  Copyright (c) 2021 Andrea Lazzaretti.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */

use Taxdoo\VAT\Model\Configuration as TaxdooConfig;

$yourApiToken = 'YOUR API TOKEN';

return [
    TaxdooConfig::TAXDOO_APIKEY => $yourApiToken,
    TaxdooConfig::TAXDOO_SANDBOX_APIKEY => $yourApiToken,
    TaxdooConfig::TAXDOO_EMAIL => 'YOUR TAXDOO EMAIL',
    TaxdooConfig::TAXDOO_SANDBOX_ENABLED => 1, //This can be changed at risk of dirtying production data
    TaxdooConfig::TAXDOO_ENABLED => 1
];
